<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能AI听写功能</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/element.css">
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
</head>
<body>
    <div class="main" id="app">
        <!-- 功能1 -->
        <div class="title">录音识别</div>
        <div class="cont">
            <div class="left-box box">
                <div class="box-title">语音录入</div>
                <div class="box-cont"></div>
            </div>
            <div class="right-box box">
                <div class="box-title">识别结果</div>
                <div class="box-cont"></div>
            </div>
        </div>

        <!-- 功能2 -->
        <div class="title">音频播放</div>
        <div class="cont">
            <div class="box">
                <div class="box-title">示例文本</div>
                <div class="box-cont"></div>
            </div>
            <div class="box">
                <div class="box-title">场景</div>
                <div class="box-cont">
                    <div class="scene">
                        <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                            <el-tab-pane label="通用" name="first">
                                <div class="scene-cont">
                                    <div :class=" sceneActive==item.cont?'active':''" class="scene-item"  v-for="(item, index) in sceneList" :key="index" @click="choseItem(item)">
                                        <img :src="item.img" :alt="item.img"/>
                                        <span class="name">{{item.cont}}</span>
                                        <div class="icon">精品</div>
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="客服" name="second"></el-tab-pane>
                            <el-tab-pane label="英文" name="third"></el-tab-pane>
                            <el-tab-pane label="童音" name="fourth"></el-tab-pane>
                        </el-tabs>
                    </div>
                    <div class="set">
                        <div class="set-box">
                            <span class="set-title">音量</span>
                            <el-progress :percentage="percentage1" :color="customColor"></el-progress>
                        </div>
                        <div class="set-box">
                            <span class="set-title">语速</span>
                            <el-progress :percentage="percentage2" :color="customColor"></el-progress>
                        </div>
                    </div>
                    <div class="btn-box">
                        <div class="btn">立即合成</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            percentage1: 20,
            percentage2: 100,
            customColor: '#ff6a00',
            activeName: 'first',
            sceneActive:'冰洁,女青年,中文',
            sceneList:[
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"冰洁,女青年,中文",
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"虫虫,女青年,中文",
                },{
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"小康,女青年,中文",
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"小雪,女青年,中文",
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"小媛,女青年,中文",
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ek54DPTpK1RjSZKPXXa3UpXa-517-517.png",
                    cont:"一峰,男青年,中文",
                },
            ]
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            choseItem(item){
                this.sceneActive = item.cont;
            }
        }
    })
</script>
</html>