<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能AI听写功能</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/element.css">
    <style type="text/css">
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>
<body>
<div class="main" id="app">
    <!-- 功能1 -->
    <div class="title">录音识别</div>
    <div class="cont">
        <div class="left-box box">
            <div class="box-title">语音录入</div>
            <div class="box-cont">
                <el-button class="record-btn" @click="startRecording" v-if="!showRecordBtn">开始录音</el-button>
                <el-button class="record-btn" @click="stopRecording" :disabled="disabledStopBtn" v-if="showRecordBtn">停止录音</el-button>
                <form enctype='multipart/form-data' v-if="!cancelShiBie">
                    <div class="box-input-div">
                        <span>上传文件</span>
                        <input class="box-input" type="file" @change="handleFileChange"/>
                    </div>
                </form>
                <el-button v-cloak class="cancel-shibie"  v-if="cancelShiBie" @click="cancelShiBieEvent">取消识别</el-button>
                <p class="box-tip">点击上传录音文件，可以识别录音内容，开始录音时间最多15秒。</p>
            </div>
        </div>
        <div class="right-box box">
            <div class="box-title">识别结果</div>
            <div class="box-cont"
                 v-loading="loading"
                 element-loading-text="正在识别中"
                 element-loading-spinner="el-icon-loading"
                 element-loading-background="rgba(0, 0, 0, 0.8)"
            >
                <div class="bg-area">
                    <div class="bg bg1"></div>
                    <div class="bg bg2"></div>
                    <div class="bg bg3"></div>
                    <div class="bg bg4"></div>
                    <div class="bg bg5"></div>
                    <div class="bg bg6"></div>
                    <div class="bg bg7"></div>
                    <div class="bg bg8"></div>
                    <div class="bg bg9"></div>
                </div>
                <textarea class="box-text"  v-model="outText" disabled style="position: relative"></textarea>
            </div>
        </div>
    </div>

    <!-- 功能2 -->
    <div class="title">音频播放</div>
    <div class="cont">
        <div class="box">
            <div class="box-title">示例文本</div>
            <div class="box-cont">
                <textarea class="box-text" v-model="inputText" maxlength="300" onchange="checkField()"  placeholder="请输入文字"></textarea>
                <p class="box-tip2">最多可输入<span>300</span>个字，超出部分合成将被截断</p>
            </div>
        </div>
        <div class="box">
            <div class="box-title">场景</div>
            <div class="box-cont">
                <div class="scene">
                    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                        <el-tab-pane label="通用" name="first">
                            <div class="scene-cont">
                                <div :class=" sceneActive==item.cont?'active':''" class="scene-item"  v-for="(item, index) in sceneList" :key="index" @click="choseItem(item)">
                                    <img :src="item.img" :alt="item.img"/>
                                    <span class="name">{{item.cont}}</span>
                                    <div class="icon">精品</div>
                                </div>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="客服" name="second"></el-tab-pane>
                        <el-tab-pane label="英文" name="third"></el-tab-pane>
                        <el-tab-pane label="童音" name="fourth"></el-tab-pane>
                    </el-tabs>
                </div>
                <div class="set">
                    <div class="set-box">
                        <span class="set-title">音量</span>
                        <el-slider v-model="value1"  :max=40 :format-tooltip="formatTooltip1"  @change="yinliangChange"></el-slider>
                        <div class="set-val">{{yinliang}}</div>
                    </div>
                    <div class="set-box">
                        <span class="set-title">语速</span>
                        <el-slider v-model="value2" :max=100 :format-tooltip="formatTooltip2"  @change="yusuChange"></el-slider>
                        <div class="set-val">{{yusu}}</div>
                    </div>
                </div>
                <div class="btn-box">
                    <div class="btn" @click="lijihecheng" v-if="!showAudioBtn">立即合成</div>
                    <div v-cloak class="btn" @click="audioEvent"  v-if="showAudioBtn">
                        <span>{{audioBtn}}</span>
                        <audio id="audioId" @ended="audioEnded()" autoplay="autoplay" :src="audioUrl"></audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/vue.js"></script>
<script src="js/element.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/recorder.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            loading:false,
            showAudioBtn:false,
            showRecordBtn:false,
            disabledStopBtn:false,
            cancelShiBie:false,//取消识别按钮
            outText:'',//音频识别结果
            inputText:'为了减少您的损失，请您今天晚上6点前尽快处理好本次欠款，好吧？',//输入合成音频文本
            audioBtn:'',
            value1:20,
            value2:50,
            yinliang:0,
            yusu:0,
            audioUrl:'',
            activeName: 'first',
            sceneActive:'冰洁,女青年,中文',
            sceneName:"bingjie",
            sceneList:[
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"冰洁,女青年,中文",
                    sceneName:"bingjie"
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"虫虫,女青年,中文",
                    sceneName:"chongchong"
                },{
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"小康,女青年,中文",
                    sceneName:"xiaokang"
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"小雪,女青年,中文",
                    sceneName:"xiaoxue"
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ij98DQPoK1RjSZKbXXX1IXXa-517-517.png",
                    cont:"小媛,女青年,中文",
                    sceneName:"xiaoyuan"
                },
                {
                    img:"https://img.alicdn.com/tfs/TB1Ek54DPTpK1RjSZKPXXa3UpXa-517-517.png",
                    cont:"一峰,男青年,中文",
                    sceneName:"yifeng"
                },
            ],
            websocket:{},
            audio_context:{},
            recorder:{},
            timer:''
        },
        methods: {
            startRecording(){
                this.showRecordBtn = true;
                let that = this;
                vm.recorder && vm.recorder.record();
                let maxtime = 15;//按秒计算
                this.timer = setInterval(function () {
                    if(maxtime >= 0){
                        --maxtime;
                    }else{
                        clearInterval(that.timer);
                        that.stopRecording();
                    }
                }, 1000);
            },
            stopRecording(){
                clearInterval(this.timer);
                this.disabledStopBtn = true;
                this.loading = true;
                this.cancelShiBie = true;
                this.websocketFun();
                vm.recorder && vm.recorder.stop();
                vm.recorder && vm.recorder.exportWAV(function(blob) {
                    let formData = new FormData();
                    formData.append("file", blob,"file.wav");
                    vm.uploadFiles(formData);
                });
                vm.recorder.clear();
            },
            //取消识别文件
            cancelShiBieEvent(){
                this.loading = false;
                this.cancelShiBie = false;
                this.disabledStopBtn = false;
                this.showRecordBtn = false;
                this.websocket.close();
            },
            //选择本地文件
            handleFileChange (event) {
                this.loading = true;
                this.cancelShiBie = true;
                this.websocketFun();
                let file = event.target.files[0];
                let formData = new FormData();
                formData.append("file",file,"file.wav");
                this.uploadFiles(formData);
            },
            //上传录音文件并识别
            uploadFiles(formData){
                jQuery.ajax({
                    url : "/asr/upload",
                    type : 'post',
                    processData: false,
                    contentType: false,
                    data: formData,
                    success : function(data) {
                        console.log("上传成功");
                    },
                    error : function(err) {
                        vm.$message.error('录音文件上传失败');
                        vm.loading = false;
                        vm.cancelShiBie = false;
                        vm.showRecordBtn = false;
                        vm.disabledStopBtn = false;
                        vm.outText = '';
                    }
                })
            },
            websocketFun(){
                let that = this;
                let time = new Date().getTime();
                console.log(time);
                if(window.WebSocket) {
                    this.websocket = new WebSocket('ws://127.0.0.1:52220/ws/'+time);
                    this.websocket.onopen = function(e){
                        console.log("连接服务器成功");
                    }
                    this.websocket.onmessage = function(e){
                        that.loading = false;
                        that.cancelShiBie = false;
                        that.showRecordBtn = false;
                        that.disabledStopBtn = false;
                        that.outText = e.data;
                        that.websocket.close();
                    }
                    this.websocket.onclose = function(e){
                        console.log("服务器关闭");
                    }
                    this.websocket.onerror = function(){
                        console.log("连接出错");
                    }
                }
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            choseItem(item){
                this.sceneActive = item.cont;
                this.sceneName = item.sceneName;
                checkField();
            },
            yinliangChange(val){
                this.yinliang = Number(val-20);
                checkField();
            },
            yusuChange(val){
                this.yusu = Number((val-50)*10);
                checkField();
            },
            formatTooltip1(val){
                if(val == 20){
                    return '0';
                }
                return val-20;
            },
            formatTooltip2(val){
                if(val == 50){
                    return '0';
                }
                return (val-50)*10;
            },
            //立即合成
            lijihecheng(){
                this.showAudioBtn = true;
                this.audioBtn = "加载中";
                let data ={
                    voiceName: this.sceneName,
                    speed: this.yusu,
                    volume: this.yinliang,
                    text: this.inputText
                };
                jQuery.ajax({
                    url : "/tts/go",
                    type : 'post',
                    dataType : 'json',
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify(data),
                    success : function(data) {
                        setTimeout(function(){
                            vm.audioUrl = data.audioUrl;
                            vm.audioBtn = "暂停";
                        },5000);
                    },
                    error : function(err) {
                        vm.$message.error('音频合成失败');
                        vm.showAudioBtn = false;
                        vm.audioBtn = "";
                    }
                })
            },
            audioEvent(e){
                e.stopPropagation();//防止冒泡
                let audio = document.getElementById('audioId');
                if(audio.paused){
                    this.audioBtn = "暂停";
                    audio.play();
                    return;
                }else{
                    this.audioBtn = "播放";
                    audio.pause();
                }
            },
            //播放结束回调
            audioEnded(){
                this.audioBtn = "播放";
            },
        }
    });
    window.onload = function init() {
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        vm.audio_context = new AudioContext;
        navigator.mediaDevices.getUserMedia({audio: true})
        .then(function(stream) {
            console.log("可以使用麦克风");
            let input = vm.audio_context.createMediaStreamSource(stream);
            vm.recorder = new Recorder(input);
        })
        .catch(function(err) {
            console.log('拒接使用麦克风');
        });
    };
    function checkField(){
        vm.showAudioBtn = false;
        vm.audioUrl = '';
        vm.audioBtn = "";
    };
</script>
</html>